.navbar-and-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

@media (max-width: 480px) {
    .navbar-and-list {
        flex-direction: column;
        height: auto;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .navbar-and-list {
        padding: 5px;
    }
}
