.table-head {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color:white ;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    height: 30px;
}
.contact-list {
    height: 100%;
    width: 100%;
    margin:7px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #d7dcdf;
    overflow: auto;
}

.contact-list p,
.contact-list h2,
.contact-list .fa-solid {
    color: #646464;
}

.contact-list .fa-solid {
    margin-right: 15px;
}

.contact-list table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.contact-list th,
.contact-list td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.contact-list .profile-img-box {
    margin-right: 0px;
    margin-left: 10px;
}

.user-icon{
    display: flex;
    justify-content: center;
}

.action-icons{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.edit-icon, .delete-icon, .fav-icon {
    cursor: pointer;
    transition: none;
    margin-right: 15px;
    color: #646464;
  }

