.card {
    background-color: #6f5cc2;
}

.btn {
    border-radius: 30px;
    background-color:white;
    color: black;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    display: inline-block;
    text-align: center;
    width: 100%;
}
.btn:hover{
    background-color: black;
    color: white;
}

.sign-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.btn-secondary {
    background-color: white;
    color: black;
}
.btn-secondary:hover{
    background-color: black;
    color: white;
}

.signup-info {
    color: #666666;
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    text-align: center;
}

.log-cont {
    display: flex;
    text-decoration: underline;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    
}

.log-img { 
    font-size: 17px;
}