* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #9178ff;
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    font-family:'Poppins', sans-serif;
}

p, h2 {
    font-size: 0.7rem;
    font-weight: 400;
    color: #f7f7f7;
}

p {
    color: #d7dcdf;
}

.contact-list-app {
    width: 100vw;
    height: 100vh; 
    border-radius: 3px;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
}



/* For mobile phones (max width 480px) */
@media (max-width: 480px) {
    .contact-list-app {
        width: 100vw;
        height: 100vh;
        padding: 10px; /* Optional: Add some padding for better spacing */
        font-size: 0.6rem; /* Adjust font size for smaller screens */
    }
}

/* For tablets (min-width 481px and max-width 768px) */
@media (min-width: 481px) and (max-width: 768px) {
    .contact-list-app {
        width: 95vw;
        height: 95vh;
    }
}

